@import "tailwindcss";

/*
 * - Styles in this file apply globally across the app, including Starlight docs
 * - This file is imported once in Navbar.tsx instead of Layout because Navbar is shared between the main site and Starlight docs
 */

@theme {
  --color-primaryColor: #0083DD;
  --color-secondaryColor: #E91E63;
  --color-ternaryColor: rgb(178, 184, 205);

  --color-primaryTextColor: rgb(255, 255, 255);
  --color-secondaryTextColor: rgb(142 167 199);

  --color-primaryBackgroundColor: rgb(4, 18, 35);
  --color-secondaryBackgroundColor: rgb(1, 26, 55);
  --color-ternaryBackgroundColor: #004676;

  --color-blockBackgroundColor: rgb(6, 27, 52);
  --color-blockStrongBackgroundColor: rgb(7, 33, 63);

  --color-blockBorderColor: rgb(255, 255, 255, 0.07);
  --color-blockStrongBorderColor: rgb(255, 255, 255, 0.15);

  --color-popupBackgroundColor: rgb(6, 27, 52, 0.7);
  --color-popupBackdropColor: rgb(0, 0, 0, 0.5);

  --breakpoint-xs: 530px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, Arial, Helvetica;
}

/* ------------------------------- */
/*  CUSTOMIZE STARLIGHT PER THEME  */
/* ------------------------------- */

/* only used by Starlight so more appropriately in starlight.css, but including it here type checks the theme value */

:root {
  --sl-color-accent-high: theme('colors.secondaryColor');
  --sl-color-accent: theme('colors.primaryColor');
  --sl-color-accent-low: theme('colors.ternaryColor');

  --sl-color-text: theme('colors.secondaryTextColor');
  /* nav selected item text */
  --sl-color-text-invert: theme('colors.primaryTextColor');
  /* nav selected item background, link text, TOC selected item text */
  --sl-color-text-accent: theme('colors.primaryColor');

  /* headings */
  --sl-color-white: #fff;
  --sl-color-gray-1: #eceef2;
  /* nav item text, footer "Previous"/"Next" */
  --sl-color-gray-2: theme('colors.secondaryTextColor');
  /* search box placeholder text, TOC text */
  --sl-color-gray-3: #888b96;
  /* search box border */
  --sl-color-gray-4: #545861;
  /* nav indent guides, previous/next box borders */
  --sl-color-gray-5: #353841;
  /* nav background, TOC separator, search box keyboard shortcut background */
  --sl-color-gray-6: theme('colors.primaryBackgroundColor');
  /* main background */
  --sl-color-black: theme('colors.primaryBackgroundColor');

  --sl-font: 'Inter', ui-sans-serif, system-ui, sans-serif, Arial, Helvetica;

  /* match site Navbar height */
  --sl-nav-height: calc(var(--spacing) * 20);

  /* we are not rendering mobile TOC. px unit required on 0 value for calc() addition. */
  --sl-mobile-toc-height: 0px;

  /* ensure mobile nav menu button visibility */
  --sl-z-index-navbar: 1000;

  /* size Starlight mobile nav menu button to match site mobile nav menu button */
  --sl-menu-button-size: 2.2rem;

  /* adjust mobile nav menu button placement */
  --sl-nav-pad-x: 5.5rem;
}

html {
  font-family: Inter, ui-sans-serif, system-ui, sans-serif, Arial, Helvetica;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

html::selection {
  color: theme('colors.primaryTextColor');
  background-color: theme('colors.secondaryColor');
}

/* ---------------------- */
/*  CUSTOMIZE SCROLLBARS  */
/* ---------------------- */

:root {
  --scrollbar-track: transparent;
  --scrollbar-thumb: rgba(255, 255, 255, 0.08);
  --scrollbar-thumb-hover: rgba(255, 255, 255, 0.14);
  --scrollbar-size: 8px;
  --scrollbar-spacing: 4px;
}

*::-webkit-scrollbar {
  width: calc(var(--scrollbar-size) + var(--scrollbar-spacing) * 2);
  height: calc(var(--scrollbar-size) + var(--scrollbar-spacing) * 2);
}

*::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-track-piece {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-corner {
  background: var(--scrollbar-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 999px;
  border: var(--scrollbar-spacing) solid transparent;
  /* allows spacing when track is transparent */
  background-clip: padding-box;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

/* ---------------- */
/*  CUSTOM CLASSES  */
/* ---------------- */

/* --- Typography --- */

.block-title {
  @apply text-primaryTextColor text-3xl font-bold tracking-normal;
}

.block-big-title {
  @apply text-primaryTextColor text-4xl xl:text-5xl font-bold tracking-normal;
}

.block-subtitle {
  @apply text-xs text-secondaryColor tracking-wider font-bold uppercase;
}

.content-title {
  @apply text-primaryTextColor text-lg font-bold tracking-normal;
}

.content-text-white {
  @apply text-primaryTextColor text-base leading-relaxed;
}

.content-text-gray {
  @apply text-gray-400 text-base;
}

/* --- Borders --- */

.block-strong-border {
  @apply border border-solid border-blockStrongBorderColor;
}

.block-border {
  @apply border border-solid border-blockBorderColor;
}

/* --- Buttons --- */

.contained-button {
  @apply flex justify-center items-center text-primaryTextColor bg-secondaryColor hover:opacity-80 rounded-lg font-bold cursor-pointer transition;
}

.outlined-button {
  @apply flex justify-center items-center text-primaryTextColor bg-primaryBackgroundColor hover:bg-blockStrongBackgroundColor rounded-xl text-sm border border-solid border-gray-600 cursor-pointer transition;
}