@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/*
 * - Styles in this file apply to Starlight only
 */

/* Customize markdown content styles */
:where(.sl-markdown-content) {

  /* h2 */

  h2 {
    @apply text-2xl;
  }

  .sl-heading-wrapper.level-h2 {
    @apply mb-10;
  }


  /* h3 */

  h3 {
    @apply text-lg font-light;
  }

  /* p */

  p {
    @apply leading-relaxed;
  }

  /* bold */

  strong {
    color: var(--color-primaryColor);
  }

  /* blockquote */

  blockquote {
    @apply border-l-4;
    border-left-color: var(--color-primaryColor);
  }

  /* code */

  code {
    @apply p-1 rounded;
    color: var(--color-ternaryColor);
    background-color: var(--color-blockStrongBackgroundColor);
  }

  /* a */

  a {
    @apply underline;
  }

  /* lists */

  ul {
    @apply ml-4;
    list-style-type: disc;
    list-style-position: outside;
  }

  ul ul {
    list-style-type: circle;
  }

  ul ul ul {
    list-style-type: square;
  }

  ol {
    @apply list-decimal ml-5;
    list-style-position: outside;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }

  li {
    @apply mt-8;
  }

  li li {
    @apply mt-2;
  }

  /* note badge */

  .sl-badge.note {
    opacity: 0.8;
  }

  li .sl-badge.note {
    margin-left: 0.5rem;
  }

  /* anchor icon size and position */

  .sl-heading-wrapper {
    --sl-anchor-icon-size: 1.2rem;
    --sl-anchor-icon-gap: 0.8rem;
  }

  .sl-anchor-link {
    top: 3px;
  }
}